@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#blob{
    background-color: white;
    height:200px;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50%, -50%;
    border-radius: 50%;
    background: linear-gradient(
        to right,
        aquamarine,
        mediumpurple,

    );
    animation: rotate 20s infinite;
}
@keyframes rotate{
    from {
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}